In [1]:
import requests
import urllib.request
from bs4 import BeautifulSoup
import json
import pandas as pd
import numpy as np
import time
import math

In [2]:
start_time = 1279324800
dt = 24 * 3600 # one day
now = math.floor(time.time())
batch_size = 2000 # max request size

url = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit='

save_path = 'content/btc_ohlc_daily.json'

In [3]:
t = now
urls = []
while t - batch_size * dt > start_time:
    limit = batch_size
    u = url + str(limit) + '&toTs=' + str(t)
    urls.append(u)
    t = t - (batch_size + 1) * dt

u = url + str(math.floor((t-start_time)/dt)) + '&toTs=' + str(t)
urls.append(u)

In [4]:
urls

['https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=2000&toTs=1617544194',
 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=1913&toTs=1444657794']

In [5]:
df_list = []
for i in urls:
    response = requests.get(i)
    soup = BeautifulSoup(response.text, "html.parser")
    data = json.loads(str(soup))
    df_tmp = pd.DataFrame(data['Data']['Data'])
    df_tmp = df_tmp.set_index('time')
    df_tmp.index = pd.to_datetime(df_tmp.index, unit='s')
    df_tmp = df_tmp.drop(['conversionType', 'conversionSymbol'], axis=1 )
    print(df_tmp.head(5))
    print(df_tmp.tail(5))
    df_list.append(df_tmp)

              high     low    open  volumefrom     volumeto   close
time
2015-10-13  251.19  243.11  245.35    74881.90  18553307.06  248.78
2015-10-14  255.06  248.28  248.78    69581.72  17511356.73  252.33
2015-10-15  256.76  251.17  252.33    60635.46  15465023.84  254.44
2015-10-16  267.27  253.93  254.44    95178.55  24886162.93  262.87
2015-10-17  275.41  261.74  262.87   113842.13  30715446.42  269.58
                high       low      open  volumefrom      volumeto     close
time
2021-03-31  59818.50  56918.81  58781.54    46494.48  2.727194e+09  58793.80
2021-04-01  59469.45  57949.11  58793.80    28027.66  1.648725e+09  58730.82
2021-04-02  60061.51  58458.46  58730.82    29748.03  1.765525e+09  58987.80
2021-04-03  59770.87  56958.04  58987.80    25104.90  1.470431e+09  57074.97
2021-04-04  58156.43  56493.38  57074.97    13089.41  7.495476e+08  58082.72
               high      low     open  volumefrom  volumeto    close
time
2010-07-17  0.04951  0.04951  0.04951       20.00    0.9902  0.04951
2010-07-18  0.08585  0.05941  0.04951       75.01    5.0920  0.08584
2010-07-19  0.09307  0.07723  0.08584      574.00   49.6600  0.08080
2010-07-20  0.08181  0.07426  0.08080      262.00   20.5900  0.07474
2010-07-21  0.07921  0.06634  0.07474      575.00   42.2600  0.07921
              high     low    open  volumefrom     volumeto   close
time
2015-10-08  244.79  241.57  242.98    44153.62  10762328.45  242.58
2015-10-09  244.56  241.34  242.58    40572.80   9897714.74  244.04
2015-10-10  245.93  242.89  244.04    38960.98   9547124.76  245.35
2015-10-11  248.26  244.47  245.35    41425.58  10232454.52  247.65
2015-10-12  248.02  244.65  247.65    40389.34   9961674.07  245.35

In [6]:
list.reverse(df_list)
df = pd.concat(df_list)

In [7]:
df

,high,low,open,volumefrom,volumeto,close
time,,,,,,
2010-07-17,0.04951,0.04951,0.04951,20.00,9.902000e-01,0.04951
2010-07-18,0.08585,0.05941,0.04951,75.01,5.092000e+00,0.08584
2010-07-19,0.09307,0.07723,0.08584,574.00,4.966000e+01,0.08080
2010-07-20,0.08181,0.07426,0.08080,262.00,2.059000e+01,0.07474
2010-07-21,0.07921,0.06634,0.07474,575.00,4.226000e+01,0.07921
...,...,...,...,...,...,...
2021-03-31,59818.50000,56918.81000,58781.54000,46494.48,2.727194e+09,58793.80000
2021-04-01,59469.45000,57949.11000,58793.80000,28027.66,1.648725e+09,58730.82000
2021-04-02,60061.51000,58458.46000,58730.82000,29748.03,1.765525e+09,58987.80000
2021-04-03,59770.87000,56958.04000,58987.80000,25104.90,1.470431e+09,57074.97000
2021-04-04,58156.43000,56493.38000,57074.97000,13089.41,7.495476e+08,58082.72000

In [10]:
df.to_json(save_path)

In [12]:
df2 = pd.read_json(save_path)

In [13]:
df2.rename_axis('time', axis=0)

,high,low,open,volumefrom,volumeto,close
time,,,,,,
2010-07-17,0.04951,0.04951,0.04951,20.00,9.902000e-01,0.04951
2010-07-18,0.08585,0.05941,0.04951,75.01,5.092000e+00,0.08584
2010-07-19,0.09307,0.07723,0.08584,574.00,4.966000e+01,0.08080
2010-07-20,0.08181,0.07426,0.08080,262.00,2.059000e+01,0.07474
2010-07-21,0.07921,0.06634,0.07474,575.00,4.226000e+01,0.07921
...,...,...,...,...,...,...
2021-03-31,59818.50000,56918.81000,58781.54000,46494.48,2.727194e+09,58793.80000
2021-04-01,59469.45000,57949.11000,58793.80000,28027.66,1.648725e+09,58730.82000
2021-04-02,60061.51000,58458.46000,58730.82000,29748.03,1.765525e+09,58987.80000
2021-04-03,59770.87000,56958.04000,58987.80000,25104.90,1.470431e+09,57074.97000
2021-04-04,58156.43000,56493.38000,57074.97000,13089.41,7.495476e+08,58082.72000